
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* outline: 1px solid rgb(59, 58, 58); */
}


/* ---------------------------------- Estilos generales ---------------------------- */
body {
  background-color: rgba(57, 59, 59, 0.995);
  font-family: "Lato", sans-serif;
}
main {
  width: 100%;
  height: 90vh;
}

/* ---------------------------------- Menú hamburguesa ---------------------------- */
aside {
  background-color: rgba(88, 88, 88, 0.384);
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 4rem;
  padding: 1rem;

  position: fixed;
  top: 0;
  z-index: 2;
}
/* Icon menú Hamburguesa */
.icon {
  width: 1.5rem;
  color: rgb(218, 204, 204);
}
.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-left: 0;

  
}
.nav-list {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  font-weight: bolder;
}


/* ---------------------------------- Header-logo ------ ---------------------------- */
header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;

  position: absolute;
  top: 0;
  right: 0;
}
.logo {
  display: flex;
  align-items: end;
  width: 8rem;
  
}
/* ---------------------------------- Section-hero -------------------------------- */

#hero {
  background-image: url(./public/img/hero/SP.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  
  width: 100%;
  height: 100%;
}


/* ---------------------------------- Section-About Us -------------------------------- */
#aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem;
}
#aboutUs p {
  text-align: center;
  max-width: 700px;
  margin-bottom: 0px;
}
h2 {
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
}

/* mediaqueries  */

.container-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
}


.info {
  background-color: rgba(88, 88, 88, 0.384);
  border-radius: 10px;
  width: 400px;
  padding: 1rem;
  margin: 1rem;
}

.info h3 {
  text-align: center;
  font-weight: bolder;
}



/* ---------------------------------- Footer -------------------------------- */
footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
}