
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* outline: 1px solid rgb(59, 58, 58); */
}


/* ---------------------------------- Estilos generales ---------------------------- */
body {
  background-color: #242424;
  font-family: "Lato", sans-serif;
}
main {
  width: 100%;
}

/* ---------------------------------- Menú hamburguesa ---------------------------- */
header {
  background-color: rgba(88, 88, 88, 0.384);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 9rem;
  padding: 0.5rem;

  position: fixed;
  top: 0;
  z-index: 2;
}
.containerLogo {
  width: 100%;
  display: flex;
  padding: 0 0.5rem ;
}
.logo {
  width: 6rem;
  margin-top: 1rem;
}
.containerMenu {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.5rem ;
}

/* Icon menú Hamburguesa */
.icon {
  width: 1.5rem;
  color: rgb(249, 248, 248);
}
/* menú visible */
.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-left: 0;
  cursor: pointer;
}
.nav-icon a {
  display: flex;
  gap: 0.5rem;
  width: 8rem;
  color: white;
  padding: 0.5rem;
  font-weight: bolder;


  list-style: none;
  text-decoration: none;
}

/* efecto :hover */
.hover:hover {
  /* color: rgb(124, 69, 66); */
  background-color: rgb(33, 35, 35);
  border-radius: 0.2rem;
}


/* ---------------------------------- Section-hero -------------------------------- */

#hero {
  /* background-image: url(./public/img/hero/SP.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
 */
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
  width: 100%;
}
.contenedorImg {
  display: flex;
  justify-content: center;
  width: 80%;
}
.contenedorImg img {
  width: 90%;
}
.ocultar {
  display: none;

}
/* ---------------------------------- Section-About Us -------------------------------- */
#aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
}
#aboutUs p {
  font-weight: lighter;
  text-align: center;
  padding: 0 0.5rem;
  max-width: 700px;
  margin-bottom: 0px;
}
h2 {
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
}

.container-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.info {
  background-color: rgba(88, 88, 88, 0.384);
  border-radius: 10px;
  width: 450px;
  padding: 0.5rem;
  margin: 1rem;
}

.info h3 {
  color: rgb(215, 211, 207);
  text-align: center;
  font-weight: bolder;
}



/* ---------------------------------- Footer -------------------------------- */
footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.logoFooter {
  width: 2rem;
}